/*
 * FONTS
 */

@font-face {
    font-family: "Lavanderia_Sturdy";
    src: url(../fonts/Lavanderia_Sturdy.otf) format("opentype");
}

@font-face {
    font-family: "Bailey";
    src: url(../fonts/DJB_BAILEY.ttf) type("truetype");
}

@font-face {
    font-family: "description";
    src: url(../description.ttf);
}

@font-face {
    font-family: "MonoSocial";
    src: url(../fonts/MonoSocialIconsFont-1.10.ttf) format('truetype');
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: white;
    transition: all 0.2s ease-in-out;
    -os-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-font-feature-settings:"liga" 1;
    -webkit-text-rendering:optimizeLegibility;
    -moz-text-rendering:optimizeLegibility;
    -ms-text-rendering:optimizeLegibility;
    -o-text-rendering:optimizeLegibility;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

html,
body {
    width: 100%;
    height: 100%;
}

.name,
.job,
.description,
li {
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.50);
}

body {
    background-color: #888;
}

ul {
    list-style: none;
    margin-top: -20px;
}

li {
    display: inline-block;
    font-family: 'MonoSocial', sans-serif !important;
    padding: 0px 30px 0px 30px;
    font-size: 80px;
}

li > a {
    text-decoration: none;
    font-family: 'MonoSocial', sans-serif !important;
    color: white;
}

li > a:hover {
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    color: #e0e0e0;
}

.content {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: 100%;
    text-align: center;
}

.stopfade {
    opacity: 0.3;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../media/image/poster.png') no-repeat;
    background-size: cover;
    transition: 2s opacity;
}

.job {
    font-family: '';
    font-size: 50px;
    letter-spacing: 2px;
}

.description {
    font-family: '';
    font-size: 20px;
    margin-top: 40px;
    font-weight: 100;
    margin-top: 0;
    letter-spacing: 3px;
}

.socials {
    margin-top: 40px;
}

h1 {
    font-family: 'Lavanderia_Sturdy', sans-serif;
    font-size: 100px;
    letter-spacing: 10px;
    font-weight: 100;
}


.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(96, 103, 129, 0.31);
}

.loader {
    background-color: #314571;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yt > iframe {
    width: 100%;
    height: 100%;
}

.button {
    margin-top: 20px;
    padding: 5px 8px;
    border: 3px solid #FFF;
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
}

@media screen and (min-width: 200px) and (max-width: 769px) {
    li {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .job {
        font-size: 25px;
    }
    h1 {
        font-size: 65px;
    }
    .description {
        font-size: 16px;
    }
    .content{
            position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;
    padding:20px 0;
    }
}
@media screen and (min-aspect-ratio: 16/9) {
	video{
		width:100%;
		height: auto;
	}
}

@media screen and (max-aspect-ratio: 16/9) {
	video{
		width: auto;
		height: 100%;
	}
}
